{% extends 'base.html' %}
{% block body_block %}
<div class="hero-unit">
<h1>Ready to Donate Food?</h1>
<p>Welcome to Food-Connect Public Unlimited</p>
</div>
<div class="row-ﬂuid">
<div class="col-6">
<h2>Top Five Categories</h2>
{% if categories %}
<ul>
<ul>
{% for category in categories %}
<li><a href="/herokuapp/category/{{ category.url }}">{{ category.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<strong>No categories at present.</strong>
{% endif %}
</div>
</div>
<!--/row-->
{% endblock %}
